<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>
   <link rel="stylesheet" href="{% static 'css/dashbord.css' %}">
</head>
<body>
   <div class="dashbord-div">
    <h1>Hellow  <span>"{{ user.first_name }}"</span> ,Welcome To Our App</h1>
    <div class="contraint-div">
        <button class="ds-btn"><a href="/videocall">New Meeting</a></button>
        <button class="ds-btn"><a href="/join">Join Meeting</a></button>
        <button class="ds-btn"><a href="/logout">Logout</a></button>
    </div>
   </div>
</body>
</html>