<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Meeting-App</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    <div class="home-div">
      <div class="shade">
        <h1>Welcome to a Simple Video Call App</h1>
        <p><span>" Our main motive is happy Client "</span>. We always focus on clients best feedback </p>
        <div class="containts-div">
          <button class="home-btn login"><a href="/login">Login</a></button>
          <button class="home-btn signup"><a href="/register">sign-up</a></button>
        </div>
      </div>
    </div>

    <p class="copy-r">&copy; copyright 2024, Sunat Kumar Das </p>
  </body>
</html>
